@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="http://olimpiadanacionaldeciencia.gt/wp-content/uploads/2013/06/Logo-sin-a%C3%B1o-300x140.jpg" />

<p>La Olimpíada Nacional de  Ciencias es un evento organizado por la Universidad de San Carlos de Guatemala, el Ministerio de Educación, la Asociación Guatemalteca de Física y  el Consejo Nacional de Ciencia y Tecnología.</p>
